.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navi styling */
.navbar{
  background-color: #0c1923;
}
.navi{
  margin-right: 1rem;
  /* margin-top: auto; */
}
.navi-container{
  max-width: none;
}
 /* .navi-logo{
  /* background-image: url("./logo-wrench.png"); */
 /* } */
.logo{
  color:#282c34;
  background-image: url("./logo-wrench.png");
  background-size: cover;
  border-radius: 8%;
  width: 12rem;
  height: 4rem;
  padding-top: 0.9125rem;
}
.navi-login{
  margin-right: unset !important;
  border-radius: 2rem;
  background-color: #061014;
  color: white;
}
.nav-link{
  color:white;
}
/* Account overview styling */

/* body {
  margin: 0;
  padding-top: 40px;
  color: #2e323c;
  background: #f5f6fa;
  position: relative;
  height: 100%;
} */

.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}


.card-body {
  width: 100%;
  border: none;
}

div h-100{
  border:none;
}
.input-group-text {
  padding: .75rem .75rem;
}
.h-100{
  border: none;
}
.add-veh{
  margin-left:16rem;
}

.card {
  background-color: #16243e ;
}
.view-image {
  max-height: 38rem;
  height: auto;
  width: 50rem;
}

.my-2{
  margin-right: 4rem !important;
}

/* #5d5d5d */
/* #16243e */